name: actionlint

on:
  pull_request:
    branches:
    - main
    paths:
    - aqua/actionlint.yaml
    - aqua/reviewdog.yaml
    - aqua.yaml
    - .github/**/*.yaml
  push:
    branches:
    - main
    paths:
    - aqua/actionlint.yaml
    - aqua/reviewdog.yaml
    - aqua.yaml
    - .github/**/*.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
    - uses: aquaproj/aqua-installer@61e2563dfe7674cbf74fe6ec212e444198a3bb00 # v2.0.2
      with:
        aqua_version: v1.26.2
    - uses: suzuki-shunsuke/github-action-actionlint@764a394381fb91f87ca8a8ad022bbeb49232df8b # tag=v0.1.2
