---
name: apply
on:
  push:
    # branches: [main]
    branches: [dummy] # Disabled
env:
  TFACTION_IS_APPLY: 'true'
permissions:
  id-token: write
  contents: read
  issues: read # this is required to `gh pr list`'s `-l` option
  pull-requests: write
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      tfmigrate_targets: ${{ steps.list-targets.outputs.tfmigrate_targets }}
      terraform_targets: ${{ steps.list-targets.outputs.terraform_targets }}
    steps:
      - uses: actions/checkout@v3
      - uses: aquaproj/aqua-installer@v1.1.2
        with:
          aqua_version: v1.19.2

      - uses: ./list-targets
        id: list-targets

  tfmigrate-apply:
    name: "tfmigrate-apply (${{matrix.target.target}})"
    runs-on: ${{matrix.target.runs_on}}
    needs: setup
    # if services is empty, the build job is skipped
    if: "join(fromJSON(needs.setup.outputs.tfmigrate_targets), '') != ''"
    strategy:
      fail-fast: false
      matrix:
        target: ${{fromJSON(needs.setup.outputs.tfmigrate_targets)}}
    env:
      TFACTION_TARGET: ${{matrix.target.target}}
      TFACTION_JOB_TYPE: tfmigrate
    steps:
      - uses: actions/checkout@v3
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@v1.1.2
        with:
          aqua_version: v1.19.2

      - uses: ./export-secrets
        with:
          secrets: ${{ toJSON(secrets) }}

      - uses: ./setup
        id: setup
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}
          ssh_key: ${{ secrets.TERRAFORM_PRIVATE_MODULE_SSH_KEY }} # This isn't needed if you don't use SSH key to checkout private Terraform Modules

      - uses: ./tfmigrate-apply
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}

      - uses: ./create-follow-up-pr
        if: failure()
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}

  terraform-apply:
    name: "terraform-apply (${{matrix.target.target}})"
    runs-on: ${{matrix.target.runs_on}}
    needs: setup
    # if services is empty, the build job is skipped
    if: "join(fromJSON(needs.setup.outputs.terraform_targets), '') != ''"
    strategy:
      fail-fast: false
      matrix:
        target: ${{fromJSON(needs.setup.outputs.terraform_targets)}}
    env:
      TFACTION_TARGET: ${{matrix.target.target}}
      TFACTION_JOB_TYPE: terraform
    steps:
      - uses: actions/checkout@v3
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@v1.1.2
        with:
          aqua_version: v1.19.2

      - uses: ./export-secrets
        with:
          secrets: ${{ toJSON(secrets) }}

      - uses: ./setup
        id: setup
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}
          ssh_key: ${{ secrets.TERRAFORM_PRIVATE_MODULE_SSH_KEY }} # This isn't needed if you don't use SSH key to checkout private Terraform Modules

      - uses: ./terraform-apply
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}

      - uses: ./create-follow-up-pr
        if: failure()
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}
