---
name: Create Pull Request Branch
on:
  workflow_dispatch:
    inputs:
      pr:
        description: 'Pull Request Number'
        required: true
jobs:
  create-pr-branch:
    uses: ./.github/workflows/wc-create-pr-branch.yaml
    permissions:
      contents: write
      pull-requests: write
    with:
      pr: ${{fromJSON(inputs.pr)}}
    secrets:
      gh_app_id: ${{secrets.APP_ID}}
      gh_app_private_key: ${{secrets.APP_PRIVATE_KEY}}
