name: Update the latest branch
on:
  push:
    branches:
      - main
jobs:
  build:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.43.1
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: cmdx build
        shell: bash

      - uses: suzuki-shunsuke/release-js-action@0696e3fc3386d4f3d2dfd9e194e8e14052cea99d # v0.1.4
        with:
          version: latest
