---
name: prerelease a pull request
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'tag'
        required: true
      pr:
        description: 'pr number'
        required: true
permissions: {}
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # To push a commit and create a release
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - run: gh pr checkout ${{github.event.inputs.pr}}
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1.8.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - run: gh auth setup-git
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
      # https://github.community/t/github-actions-bot-email-address/17204/5
      - run: git config user.name "github-actions[bot]"
      - run: git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - run: |
          git ls-files | grep -E "/action\.yaml$" |
            xargs -n 1 sed -i "s|- uses: suzuki-shunsuke/tfaction/\(.*\)@main|- uses: suzuki-shunsuke/tfaction/\1@${{github.event.inputs.tag}}|"
      - run: git checkout -b "release/${{github.event.inputs.tag}}"
      - run: |
          git ls-files | grep -E "/action\.yaml$" | xargs git add
      - run: |
          git commit -m "chore: release ${{github.event.inputs.tag}}
          base revision: $GITHUB_SHA"
      - run: git tag "${{github.event.inputs.tag}}"
      - run: git push origin "${{github.event.inputs.tag}}"
      - run: git checkout main
      - run: |
          note_template='[Issues](https://github.com/suzuki-shunsuke/tfaction/issues?q=is%3Aissue+is%3Aclosed+milestone%3A${{github.event.inputs.tag}}) | [Pull Requests](https://github.com/suzuki-shunsuke/tfaction/pulls?q=is%3Apr+is%3Aclosed+milestone%3A${{github.event.inputs.tag}}) | https://github.com/suzuki-shunsuke/tfaction/compare/${{github.event.inputs.tag}}...${{github.event.inputs.tag}} | [Base revision](https://github.com/suzuki-shunsuke/tfaction/tree/BASE_REVISION)'
          gh release create "${{github.event.inputs.tag}}" -p --title "${{github.event.inputs.tag}}" -n "${note_template//BASE_REVISION/$GITHUB_SHA}"
        env:
          GITHUB_TOKEN: ${{ github.token }}
