name: test-list-working-dirs

on:
  pull_request: {}
  push:
    branches:
      - main
permissions: {}
jobs:
  test:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - uses: aquaproj/aqua-installer@61e2563dfe7674cbf74fe6ec212e444198a3bb00 # v2.0.2
        with:
          aqua_version: v1.32.0
      - uses: ./list-working-dirs
        id: working_dirs
        env:
          TFACTION_CONFIG: list-working-dirs/tests/tfaction-root.yaml
      - run: cat "${{ steps.working_dirs.outputs.file }}"
