name: test-list-working-dirs

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3
    - uses: aquaproj/aqua-installer@c553e04154f1f3b7e5eb35da058db3bb782bee8a # tag=v1.1.2
      with:
        aqua_version: v1.21.0
    - uses: ./list-working-dirs
      id: working_dirs
      env:
        TFACTION_CONFIG: list-working-dirs/tests/tfaction-root.yaml
    - run: cat "${{ steps.working_dirs.outputs.file }}"
