name: test-list-working-dirs

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: aquaproj/aqua-installer@v1.1.2
      with:
        aqua_version: v1.19.2
    - uses: ./list-working-dirs
      id: working_dirs
      env:
        TFACTION_CONFIG: list-working-dirs/tests/tfaction-root.yaml
    - run: cat "${{ steps.working_dirs.outputs.file }}"
