name: test-get-target-config

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: aquaproj/aqua-installer@v1.1.2
      with:
        aqua_version: v1.19.2
    - uses: ./get-target-config
      id: target-config
      env:
        TFACTION_CONFIG: get-target-config/tests/config-1.yaml
        TFACTION_TARGET: aws/foo
        TFACTION_IA_APPLY: 'false'
        TFACTION_JOB_TYPE: 'terraform'
    - run: echo "${{ steps.target-config.outputs.working_directory }}"
    - run: echo "${{ steps.target-config.outputs.aws_assume_role_arn }}"
    - run: echo "${{ steps.target-config.outputs.aws_region }}"
    - run: echo "${{ steps.target-config.outputs.s3_bucket_name_plan_file }}"
    - run: echo "${{ steps.target-config.outputs.s3_bucket_name_tfmigrate_history }}"
    - run: echo "${{ steps.target-config.outputs.template_dir }}"
  test-gcp:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: aquaproj/aqua-installer@v1.1.1
      with:
        aqua_version: v1.19.2
    - uses: ./get-target-config
      id: target-config
      env:
        TFACTION_CONFIG: get-target-config/tests/config-1.yaml
        TFACTION_TARGET: gcp/foo
        TFACTION_IA_APPLY: 'false'
        TFACTION_JOB_TYPE: 'terraform'
    - run: echo "${{ steps.target-config.outputs.working_directory }}"
    - run: echo "${{ steps.target-config.outputs.gcs_bucket_name_plan_file }}"
    - run: echo "${{ steps.target-config.outputs.gcs_bucket_name_tfmigrate_history }}"
    - run: echo "${{ steps.target-config.outputs.template_dir }}"
