---
name: wc-create-pr-branch
run-name: wc-create-pr-branch (${{inputs.pr}})
on:
  workflow_call:
    inputs:
      pr:
        description: "Pull Request Number"
        required: true
        type: number
      is_comment:
        description: If the comment is posted
        required: false
        default: false
        type: boolean
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true

permissions:
  contents: write
  pull-requests: write

env:
  PR_NUMBER: ${{inputs.pr}}
  PR_BRANCH: pr/${{inputs.pr}}

jobs:
  create-pr-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3

      - id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.gh_app_id}}
          private_key: ${{secrets.gh_app_private_key}}
          permissions: >-
            {
              "contents": "write"
            }
          repositories: >-
            [
              "${{github.event.repository.name}}"
            ]

      - uses: aquaproj/aqua-installer@4551ec64e21bf0f557c2525135ff0bd2cba40ec7 # v3.0.0
        with:
          aqua_version: v2.27.2
        env:
          GITHUB_TOKEN: ${{github.token}}

      - run: gh auth setup-git
        env:
          GITHUB_TOKEN: ${{github.token}}
      # https://github.community/t/github-actions-bot-email-address/17204/5
      - run: git config user.name "github-actions[bot]"
      - run: git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - run: gh pr checkout "$PR_NUMBER"
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: echo "base_sha=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
        id: base_sha
      - run: git fetch origin "pull/$PR_NUMBER/merge:$PR_BRANCH"
      - run: git checkout "$PR_BRANCH"

      - run: |
          git ls-files | grep -E "/action\.yaml$" |
            xargs -n 1 sed -i "s|- uses: suzuki-shunsuke/tfaction/\(.*\)@main|- uses: suzuki-shunsuke/tfaction/\1@$PR_BRANCH|"
      - run: git ls-files | grep -E "/action\.yaml$" | xargs git add
      - run: |
          git commit -m "chore: test $PR_NUMBER
          base revision: ${{steps.base_sha.outputs.base_sha}}"
      - run: git push origin "$PR_BRANCH" --force
        env:
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}

      - run: echo "[Pull Request](https://github.com/suzuki-shunsuke/tfaction/pull/$PR_NUMBER)" >> "$GITHUB_STEP_SUMMARY"

      - run: github-comment post -pr "$PR_NUMBER" -k create-pr-branch
        if: inputs.is_comment
        env:
          GITHUB_TOKEN: ${{github.token}}
