---
name: wc-create-pr-branch
run-name: wc-create-pr-branch (${{inputs.pr}})
on:
  workflow_call:
    inputs:
      pr:
        description: "Pull Request Number"
        required: true
        type: number
      is_comment:
        description: If the comment is posted
        required: false
        default: false
        type: boolean
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true

jobs:
  create-pr-branch:
    uses: ./.github/workflows/wc-release.yaml
    with:
      version: pr/${{inputs.pr}}
      pr: ${{inputs.pr}}
      is_comment: ${{inputs.is_comment}}
    permissions:
      contents: write
      pull-requests: write

  test-terraform:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - name: Install dependencies
        uses: ./
        with:
          action: install
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Install dependencies
        uses: ./
        with:
          action: install

      - name: Test get-target-config
        uses: ./
        id: target-config
        with:
          action: get-target-config
        env:
          TFACTION_CONFIG: tests/tfaction-root.yaml
          TFACTION_TARGET: tests/aws/foo/dev
          TFACTION_JOB_TYPE: terraform

      - name: Test get-global-config
        uses: ./
        id: global-config
        with:
          action: get-global-config
        env:
          TFACTION_CONFIG: tests/tfaction-root.yaml
          TFACTION_JOB_TYPE: terraform

      - name: Test setup
        uses: ./
        with:
          action: setup
          github_token: ${{steps.token.outputs.token}}
        id: setup
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/tfaction-root.yaml
          TFACTION_TARGET: setup/test/foo
          TFACTION_WORKING_DIR: setup/test/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test terraform init
        uses: ./
        with:
          action: terraform-init
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_JOB_TYPE: terraform
          TFACTION_CONFIG: setup/test/tfaction-root.yaml
          TFACTION_TARGET: setup/test/foo
          TFACTION_WORKING_DIR: setup/test/foo

      - name: Test test
        uses: ./
        with:
          action: test
          github_token: ${{steps.token.outputs.token}}
        id: test
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/tfaction-root.yaml
          TFACTION_TARGET: setup/test/foo
          TFACTION_WORKING_DIR: setup/test/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test plan
        uses: ./
        id: plan
        with:
          action: plan
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/tfaction-root.yaml
          TFACTION_TARGET: setup/test/foo
          TFACTION_WORKING_DIR: setup/test/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test test-module
        uses: ./
        with:
          action: test-module
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: tests/tfaction-root.yaml
          TFACTION_TARGET: tests/modules/foo

      - name: Outputs actions' outputs (Not Fork)
        run: "true"
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          SETUP: ${{ toJSON(steps.setup.outputs) }}

      - name: Test actions' outputs
        uses: ./
        with:
          action: test-action
        env:
          TFACTION_TEST_ACTION: "true"
          JS_TARGET_CONFIG: ${{ toJSON(steps.target-config.outputs) }}
          JS_GLOBAL_CONFIG: ${{ toJSON(steps.global-config.outputs) }}

      - name: Outputs actions' outputs
        run: "true"
        env:
          JS_TARGET_CONFIG: ${{ toJSON(steps.target-config.outputs) }}
          JS_GLOBAL_CONFIG: ${{ toJSON(steps.global-config.outputs) }}

  test-drift-detection:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - name: Install dependencies
        uses: ./
        with:
          action: install
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write
          permission-issues: write
          repositories: test-tfaction

      - name: Install dependencies
        uses: ./
        with:
          action: install

      - name: Create a dummy working directory
        run: mkdir -p "tests/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Create a dummy tfaction.yaml
        run: echo '{}' > "tests/aws/foo/dev-${GITHUB_RUN_ID}/tfaction.yaml"
      - run: git add "tests/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Test get-or-create-drift-issue
        uses: ./
        id: get-or-create-drift-issue
        with:
          github_token: ${{steps.token.outputs.token}}
          action: get-or-create-drift-issue
        env:
          TFACTION_CONFIG: tests/tfaction-root.yaml
          TFACTION_TARGET: tests/aws/foo/dev-${{github.run_id}}
      - run: git reset HEAD "tests/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Remove a dummy working directory
        run: rm -R "tests/aws/foo/dev-${GITHUB_RUN_ID}"
      - run: sleep 5
      - name: Test create-drift-issues
        uses: ./
        id: create-drift-issues
        with:
          github_token: ${{steps.token.outputs.token}}
          action: create-drift-issues
        env:
          TFACTION_CONFIG: tests/tfaction-root.yaml

      - name: Test env
        run: |
          if [ -z "$TFACTION_DRIFT_ISSUE_NUMBER" ]; then
            echo "::error:: TFACTION_DRIFT_ISSUE_NUMBER is not set" >&2
            exit 1
          fi
          if [ "$TFACTION_DRIFT_ISSUE_STATE" != "open" ]; then
            echo "::error:: TFACTION_DRIFT_ISSUE_STATE is not expected" >&2
            exit 1
          fi

  test-opentofu:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - name: Install dependencies
        uses: ./
        with:
          action: install
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Test setup
        id: setup
        uses: ./
        with:
          action: setup
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/opentofu/tfaction-root.yaml
          TFACTION_TARGET: setup/test/opentofu/foo
          TFACTION_WORKING_DIR: setup/test/opentofu/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test terraform init
        uses: ./
        with:
          action: terraform-init
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/opentofu/tfaction-root.yaml
          TFACTION_TARGET: setup/test/opentofu/foo
          TFACTION_WORKING_DIR: setup/test/opentofu/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test test
        uses: ./
        with:
          action: test
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/opentofu/tfaction-root.yaml
          TFACTION_TARGET: setup/test/opentofu/foo
          TFACTION_WORKING_DIR: setup/test/opentofu/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test plan
        uses: ./
        with:
          action: plan
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/opentofu/tfaction-root.yaml
          TFACTION_TARGET: setup/test/opentofu/foo
          TFACTION_WORKING_DIR: setup/test/opentofu/foo
          TFACTION_JOB_TYPE: terraform

  test-terragrunt:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - name: Install dependencies
        uses: ./
        with:
          action: install
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Test setup
        uses: ./
        with:
          action: setup
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/terragrunt/tfaction-root.yaml
          TFACTION_TARGET: setup/test/terragrunt/foo
          TFACTION_WORKING_DIR: setup/test/terragrunt/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test test
        uses: ./
        with:
          action: test
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/terragrunt/tfaction-root.yaml
          TFACTION_TARGET: setup/test/terragrunt/foo
          TFACTION_WORKING_DIR: setup/test/terragrunt/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test plan
        uses: ./
        with:
          action: plan
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/terragrunt/tfaction-root.yaml
          TFACTION_TARGET: setup/test/terragrunt/foo
          TFACTION_WORKING_DIR: setup/test/terragrunt/foo
          TFACTION_JOB_TYPE: terraform

      # TODO: https://github.com/suzuki-shunsuke/tfaction/actions/runs/12452038055/job/34760573474?pr=2138
      # - name: Test test-module
      #   uses: ./
      #   with:
      #     action: test-module
      #     github_token: ${{steps.token.outputs.token}}
      #   if: |
      #     ! github.event.pull_request.head.repo.fork
      #   env:
      #     TFACTION_CONFIG: setup/test/terragrunt/tfaction-root.yaml
      #     TFACTION_TARGET: tests/modules/foo
