---
name: wc-create-pr-branch
run-name: wc-create-pr-branch (${{inputs.pr}})
on:
  workflow_call:
    inputs:
      pr:
        description: "Pull Request Number"
        required: true
        type: number
      is_comment:
        description: If the comment is posted
        required: false
        default: false
        type: boolean
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true

jobs:
  create-pr-branch:
    uses: ./.github/workflows/wc-release.yaml
    with:
      version: pr/${{inputs.pr}}
      pr: ${{inputs.pr}}
      is_comment: ${{inputs.is_comment}}
    permissions:
      contents: write
      pull-requests: write

  test-terraform:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: js/dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction/(.*)@main|uses: ./\1|'
      - name: Install dependencies
        uses: ./install
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Install dependencies
        uses: ./install

      - name: ci-info
        uses: ./js
        with:
          action: ci-info

      - name: Test js/get-target-config
        uses: ./js
        id: js-target-config
        with:
          action: get-target-config
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_TARGET: js/test/aws/foo/dev
          TFACTION_JOB_TYPE: terraform
      - name: Test get-target-config
        uses: ./get-target-config
        id: target-config
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_TARGET: js/test/aws/foo/dev
          TFACTION_JOB_TYPE: terraform

      - name: Test js/get-global-config
        uses: ./js
        id: js-global-config
        with:
          action: get-global-config
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_JOB_TYPE: terraform
      - name: Test get-global-config
        uses: ./get-global-config
        id: global-config
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_JOB_TYPE: terraform

      - name: Test js/check-terraform-skip
        uses: ./js
        id: js-check-terraform-skip
        with:
          action: check-terraform-skip
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_JOB_TYPE: terraform
          CI_INFO_TEMP_DIR: js/test/ci-info
          CI_INFO_PR_AUTHOR: suzuki-shunsuke
      - name: Test check-terraform-skip
        uses: ./check-terraform-skip
        id: check-terraform-skip
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_JOB_TYPE: terraform
          CI_INFO_TEMP_DIR: js/test/ci-info
          CI_INFO_PR_AUTHOR: suzuki-shunsuke

      - name: Test js/list-changed-modules
        uses: ./js
        id: js-list-changed-modules
        with:
          action: list-changed-modules
          changed_files: js/test/ci-info/pr_all_filenames.txt
          config_files: js/test/modules.txt
      - name: Test list-changed-modules
        uses: ./list-changed-modules
        id: list-changed-modules
        with:
          changed_files: js/test/ci-info/pr_all_filenames.txt
          config_files: js/test/modules.txt

      - name: Test js/list-targets-with-changed-files
        uses: ./js
        id: js-list-targets-with-changed-files
        with:
          action: list-targets-with-changed-files
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          CI_INFO_TEMP_DIR: js/test/ci-info
      - name: Test list-targets-with-changed-files
        uses: ./list-targets-with-changed-files
        id: list-targets-with-changed-files
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          CI_INFO_TEMP_DIR: js/test/ci-info

      - name: Test conftest
        uses: ./conftest
        id: conftest
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_TARGET: js/test/aws/foo/dev

      - name: Test setup
        uses: ./setup
        with:
          github_token: ${{steps.token.outputs.token}}
        id: setup
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/tfaction-root.yaml
          TFACTION_TARGET: setup/test/foo
          TFACTION_WORKING_DIR: setup/test/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test test
        uses: ./test
        with:
          github_token: ${{steps.token.outputs.token}}
        id: test
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/tfaction-root.yaml
          TFACTION_TARGET: setup/test/foo
          TFACTION_WORKING_DIR: setup/test/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test plan
        uses: ./plan
        id: plan
        with:
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/tfaction-root.yaml
          TFACTION_TARGET: setup/test/foo
          TFACTION_WORKING_DIR: setup/test/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test test-module
        uses: ./test-module
        with:
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_TARGET: js/test/modules/foo

      - name: Outputs actions' outputs (Not Fork)
        run: "true"
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          SETUP: ${{ toJSON(steps.setup.outputs) }}

      - name: Test actions' outputs
        uses: ./js
        with:
          action: test-action
        env:
          TFACTION_TEST_ACTION: "true"
          GET_TARGET_CONFIG: ${{ toJSON(steps.target-config.outputs) }}
          JS_TARGET_CONFIG: ${{ toJSON(steps.js-target-config.outputs) }}
          GET_GLOBAL_CONFIG: ${{ toJSON(steps.global-config.outputs) }}
          JS_GLOBAL_CONFIG: ${{ toJSON(steps.js-global-config.outputs) }}
          CHECK_TERRAFORM_SKIP: ${{ toJSON(steps.check-terraform-skip.outputs) }}
          JS_CHECK_TERRAFORM_SKIP: ${{ toJSON(steps.js-check-terraform-skip.outputs) }}
          LIST_CHANGED_MODULES: ${{ toJSON(steps.list-changed-modules.outputs) }}
          JS_LIST_CHANGED_MODULES: ${{ toJSON(steps.js-list-changed-modules.outputs) }}
          LIST_TARGETS_WITH_CHANGED_FILES: ${{ toJSON(steps.list-targets-with-changed-files.outputs) }}
          JS_LIST_TARGETS_WITH_CHANGED_FILES: ${{ toJSON(steps.js-list-targets-with-changed-files.outputs) }}

      - name: Outputs actions' outputs
        run: "true"
        env:
          GET_TARGET_CONFIG: ${{ toJSON(steps.target-config.outputs) }}
          JS_TARGET_CONFIG: ${{ toJSON(steps.js-target-config.outputs) }}
          GET_GLOBAL_CONFIG: ${{ toJSON(steps.global-config.outputs) }}
          JS_GLOBAL_CONFIG: ${{ toJSON(steps.js-global-config.outputs) }}
          CHECK_TERRAFORM_SKIP: ${{ toJSON(steps.check-terraform-skip.outputs) }}
          JS_CHECK_TERRAFORM_SKIP: ${{ toJSON(steps.js-check-terraform-skip.outputs) }}
          LIST_CHANGED_MODULES: ${{ toJSON(steps.list-changed-modules.outputs) }}
          JS_LIST_CHANGED_MODULES: ${{ toJSON(steps.js-list-changed-modules.outputs) }}
          LIST_TARGETS_WITH_CHANGED_FILES: ${{ toJSON(steps.list-targets-with-changed-files.outputs) }}
          JS_LIST_TARGETS_WITH_CHANGED_FILES: ${{ toJSON(steps.js-list-targets-with-changed-files.outputs) }}

  test-drift-detection:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [create-pr-branch]
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: js/dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction/(.*)@main|uses: ./\1|'
      - name: Install dependencies
        uses: ./install
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write
          permission-issues: write
          repositories: test-tfaction

      - name: Install dependencies
        uses: ./install

      - name: Create a dummy working directory
        run: mkdir -p "js/test/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Create a dummy tfaction.yaml
        run: echo '{}' > "js/test/aws/foo/dev-${GITHUB_RUN_ID}/tfaction.yaml"
      - run: git add "js/test/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Test get-or-create-drift-issue
        uses: ./js
        id: get-or-create-drift-issue
        with:
          github_token: ${{steps.token.outputs.token}}
          action: get-or-create-drift-issue
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml
          TFACTION_TARGET: js/test/aws/foo/dev-${{github.run_id}}
      - run: git reset HEAD "js/test/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Remove a dummy working directory
        run: rm -R "js/test/aws/foo/dev-${GITHUB_RUN_ID}"
      - run: sleep 5
      - name: Test create-drift-issues
        uses: ./js
        id: create-drift-issues
        with:
          github_token: ${{steps.token.outputs.token}}
          action: create-drift-issues
        env:
          TFACTION_CONFIG: js/test/tfaction-root.yaml

      - name: Test env
        run: |
          if [ -z "$TFACTION_DRIFT_ISSUE_NUMBER" ]; then
            echo "::error:: TFACTION_DRIFT_ISSUE_NUMBER is not set" >&2
            exit 1
          fi
          if [ "$TFACTION_DRIFT_ISSUE_STATE" != "open" ]; then
            echo "::error:: TFACTION_DRIFT_ISSUE_STATE is not expected" >&2
            exit 1
          fi

  test-opentofu:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: js/dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction/(.*)@main|uses: ./\1|'
      - name: Install dependencies
        uses: ./install
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Test setup
        uses: ./setup
        with:
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/opentofu/tfaction-root.yaml
          TFACTION_TARGET: setup/test/opentofu/foo
          TFACTION_WORKING_DIR: setup/test/opentofu/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test test
        uses: ./test
        with:
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/opentofu/tfaction-root.yaml
          TFACTION_TARGET: setup/test/opentofu/foo
          TFACTION_WORKING_DIR: setup/test/opentofu/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test plan
        uses: ./plan
        with:
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/opentofu/tfaction-root.yaml
          TFACTION_TARGET: setup/test/opentofu/foo
          TFACTION_WORKING_DIR: setup/test/opentofu/foo
          TFACTION_JOB_TYPE: terraform

  test-terragrunt:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: js/dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction/(.*)@main|uses: ./\1|'
      - name: Install dependencies
        uses: ./install
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Test list-module-callers
        uses: ./js
        id: list-module-callers
        with:
          action: list-module-callers
          module_files: js/test/list-module-callers/terragrunt/module_files.txt
          config_files: js/test/list-module-callers/terragrunt/config_files.txt

      - name: Test actions' outputs
        uses: ./js
        with:
          action: test-action
        env:
          TFACTION_TEST_ACTION_TERRAGRUNT: "true"
          LIST_MODULE_CALLERS: ${{ toJSON(steps.list-module-callers.outputs) }}

      - name: Test setup
        uses: ./setup
        with:
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/terragrunt/tfaction-root.yaml
          TFACTION_TARGET: setup/test/terragrunt/foo
          TFACTION_WORKING_DIR: setup/test/terragrunt/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test test
        uses: ./test
        with:
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/terragrunt/tfaction-root.yaml
          TFACTION_TARGET: setup/test/terragrunt/foo
          TFACTION_WORKING_DIR: setup/test/terragrunt/foo
          TFACTION_JOB_TYPE: terraform

      - name: Test plan
        uses: ./plan
        with:
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_CONFIG: setup/test/terragrunt/tfaction-root.yaml
          TFACTION_TARGET: setup/test/terragrunt/foo
          TFACTION_WORKING_DIR: setup/test/terragrunt/foo
          TFACTION_JOB_TYPE: terraform

      # TODO: https://github.com/suzuki-shunsuke/tfaction/actions/runs/12452038055/job/34760573474?pr=2138
      # - name: Test test-module
      #   uses: ./test-module
      #   with:
      #     github_token: ${{steps.token.outputs.token}}
      #   if: |
      #     ! github.event.pull_request.head.repo.fork
      #   env:
      #     TFACTION_CONFIG: setup/test/terragrunt/tfaction-root.yaml
      #     TFACTION_TARGET: js/test/modules/foo
