---
name: Create Pull Request Branch
on:
  workflow_call:
    inputs:
      pr:
        description: 'Pull Request Number'
        required: true
        type: number
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true

permissions:
  contents: write
  pull-requests: write

env:
  PR_NUMBER: ${{inputs.pr}}
  PR_BRANCH: pr/${{inputs.pr}}

jobs:
  create-pr-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

      - id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.gh_app_id}}
          private_key: ${{secrets.gh_app_private_key}}

      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.13.1
        env:
          GITHUB_TOKEN: ${{github.token}}

      - run: gh auth setup-git
        env:
          GITHUB_TOKEN: ${{github.token}}
      # https://github.community/t/github-actions-bot-email-address/17204/5
      - run: git config user.name "github-actions[bot]"
      - run: git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - run: gh pr checkout "$PR_NUMBER"
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: echo "base_sha=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
        id: base_sha
      - run: git fetch origin "pull/$PR_NUMBER/merge:$PR_BRANCH"
      - run: git checkout "$PR_BRANCH"

      - run: |
          git ls-files | grep -E "/action\.yaml$" |
            xargs -n 1 sed -i "s|- uses: suzuki-shunsuke/tfaction/\(.*\)@main|- uses: suzuki-shunsuke/tfaction/\1@$PR_BRANCH|"
      - run: git ls-files | grep -E "/action\.yaml$" | xargs git add
      - run: |
          git commit -m "chore: test $PR_NUMBER
          base revision: ${{steps.base_sha.outputs.base_sha}}"
      - run: git push origin "$PR_BRANCH" --force
        env:
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}

      - run: echo "[Pull Request](https://github.com/suzuki-shunsuke/tfaction/pull/$PR_NUMBER)" >> "$GITHUB_STEP_SUMMARY"

      - run: github-comment post -pr "$PR_NUMBER" -k create-pr-branch
        if: github.event_name == 'workflow_dispatch'
        env:
          GITHUB_TOKEN: ${{github.token}}
