---
name: wc-create-pr-branch
run-name: wc-create-pr-branch (${{inputs.pr}})
on:
  workflow_call:
    inputs:
      pr:
        description: "Pull Request Number"
        required: true
        type: number
      is_comment:
        description: If the comment is posted
        required: false
        default: false
        type: boolean
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true

permissions:
  contents: write
  pull-requests: write

env:
  PR_NUMBER: ${{inputs.pr}}
  PR_BRANCH: pr/${{inputs.pr}}

jobs:
  create-pr-branch:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - run: echo "[Pull Request](https://github.com/suzuki-shunsuke/tfaction/pull/$PR_NUMBER)" >> "$GITHUB_STEP_SUMMARY"

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: gh pr checkout "$PR_NUMBER"
        env:
          GITHUB_TOKEN: ${{github.token}}

      - uses: ./.github/actions/build
        with:
          branch: ${{env.PR_BRANCH}}

      - run: |
          git ls-files | grep -E "/action\.yaml$" |
            xargs -n 1 sed -i "s|- uses: suzuki-shunsuke/tfaction/\(.*\)@main|- uses: suzuki-shunsuke/tfaction/\1@$PR_BRANCH|"
      - run: git ls-files | grep -E "/action\.yaml$" | xargs git add

      - run: |
          git commit -m "chore: test $PR_NUMBER
          base revision: ${BASE_REVISION}"

      - run: git push origin "$PR_BRANCH" --force
        env:
          GITHUB_TOKEN: ${{github.token}}

      - run: github-comment post -pr "$PR_NUMBER" -k create-pr-branch
        if: inputs.is_comment
        env:
          GITHUB_TOKEN: ${{github.token}}
