---
name: wc-create-pr-branch
run-name: wc-create-pr-branch (${{inputs.pr}})
on:
  workflow_call:
    inputs:
      pr:
        description: "Pull Request Number"
        required: true
        type: number
      is_comment:
        description: If the comment is posted
        required: false
        default: false
        type: boolean
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true

jobs:
  create-pr-branch:
    uses: ./.github/workflows/wc-release.yaml
    with:
      version: pr/${{inputs.pr}}
      pr: ${{inputs.pr}}
      is_comment: ${{inputs.is_comment}}
    permissions:
      contents: write
      pull-requests: write

  test-normal:
    name: Test Normal (${{matrix.env.key}})
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
      issues: write
    strategy:
      fail-fast: false
      matrix:
        env:
          - key: terraform
            TFACTION_CONFIG: tests/tfaction-root.yaml
            TFACTION_WORKING_DIR: tests/foo
          - key: opentofu
            TFACTION_WORKING_DIR: tests/opentofu/bar
            TFACTION_CONFIG: tests/opentofu/tfaction-root.yaml
          - key: terragrunt
            TFACTION_CONFIG: tests/terragrunt/tfaction-root.yaml
            TFACTION_WORKING_DIR: tests/terragrunt/zoo
    env:
      TFACTION_CONFIG: ${{matrix.env.TFACTION_CONFIG}}
      TFACTION_WORKING_DIR: ${{matrix.env.TFACTION_WORKING_DIR}}
      TFACTION_JOB_TYPE: terraform
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Test setup
        uses: ./
        with:
          action: setup
          github_token: ${{steps.token.outputs.token}}
        id: setup
        if: |
          ! github.event.pull_request.head.repo.fork

      - name: Test terraform init
        uses: ./
        with:
          action: terraform-init
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork

      - name: Test test
        uses: ./
        with:
          action: test
          github_token: ${{steps.token.outputs.token}}
        id: test
        if: |
          ! github.event.pull_request.head.repo.fork

      - name: Test plan
        uses: ./
        id: plan
        with:
          action: plan
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork

  test-change-checkout-path:
    name: Change checkout path (${{matrix.env.key}})
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
      issues: write
    strategy:
      fail-fast: false
      matrix:
        env:
          - key: terraform
            TFACTION_CONFIG: yoo/tests/tfaction-root.yaml
            TFACTION_WORKING_DIR: tests/foo-2
          - key: opentofu
            TFACTION_CONFIG: yoo/tests/opentofu/tfaction-root.yaml
            TFACTION_WORKING_DIR: tests/opentofu/bar-2
          - key: terragrunt
            TFACTION_CONFIG: yoo/tests/terragrunt/tfaction-root.yaml
            TFACTION_WORKING_DIR: tests/terragrunt/zoo-2
    env:
      TFACTION_CONFIG: ${{matrix.env.TFACTION_CONFIG}}
      TFACTION_WORKING_DIR: ${{matrix.env.TFACTION_WORKING_DIR}}
      TFACTION_JOB_TYPE: terraform
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          path: yoo
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        working-directory: yoo
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: yoo/dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        working-directory: yoo
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Test setup
        uses: ./yoo
        with:
          action: setup
          github_token: ${{steps.token.outputs.token}}
        id: setup
        if: |
          ! github.event.pull_request.head.repo.fork

      - name: Test terraform init
        uses: ./yoo
        with:
          action: terraform-init
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork

      - name: Test test
        uses: ./yoo
        with:
          action: test
          github_token: ${{steps.token.outputs.token}}
        id: test
        if: |
          ! github.event.pull_request.head.repo.fork

      - name: Test plan
        uses: ./yoo
        id: plan
        with:
          action: plan
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork

  test-sub:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions:
      contents: write
      pull-requests: write
      issues: write
    env:
      TFACTION_CONFIG: tests/tfaction-root.yaml
      TFACTION_WORKING_DIR: tests/foo
      TFACTION_JOB_TYPE: terraform
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write

      - name: Test test-module
        uses: ./
        with:
          action: test-module
          github_token: ${{steps.token.outputs.token}}
        if: |
          ! github.event.pull_request.head.repo.fork
        env:
          TFACTION_WORKING_DIR: tests/modules/foo
          TFACTION_TARGET: tests/modules/foo

      - name: Test scaffold-working-dir
        uses: ./
        with:
          action: scaffold-working-dir
        env:
          TFACTION_WORKING_DIR: tests/zoo

      - name: Test scaffold-module
        uses: ./
        with:
          action: scaffold-module
        env:
          TFACTION_WORKING_DIR: ""
          TFACTION_MODULE_PATH: tests/modules/yoo
          TFACTION_MODULE_TEMPLATE_DIR: tests/templates/module-github

      - name: Test get-target-config
        uses: ./
        id: target-config
        with:
          action: get-target-config
        env:
          TFACTION_CONFIG: tests/tfaction-root.yaml
          TFACTION_JOB_TYPE: terraform
          TFACTION_WORKING_DIR: tests/aws/foo/dev

      - name: Test get-global-config
        uses: ./
        id: global-config
        with:
          action: get-global-config
        env:
          TFACTION_CONFIG: tests/tfaction-root.yaml
          TFACTION_JOB_TYPE: terraform
          TFACTION_WORKING_DIR: tests/aws/foo/dev

      - name: Test actions' outputs
        uses: ./
        with:
          action: test-action
        env:
          TFACTION_TEST_ACTION: "true"
          TARGET_CONFIG: ${{ toJSON(steps.target-config.outputs) }}
          GLOBAL_CONFIG: ${{ toJSON(steps.global-config.outputs) }}

  test-drift-detection:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions: {}
    env:
      TFACTION_CONFIG: tests/tfaction-root.yaml
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          permission-pull-requests: write
          permission-contents: write
          permission-issues: write
          repositories: test-tfaction

      - name: Create a dummy working directory
        run: mkdir -p "tests/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Create a dummy tfaction.yaml
        run: echo '{}' > "tests/aws/foo/dev-${GITHUB_RUN_ID}/tfaction.yaml"
      - run: git add "tests/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Test get-or-create-drift-issue
        uses: ./
        id: get-or-create-drift-issue
        with:
          github_token: ${{steps.token.outputs.token}}
          action: get-or-create-drift-issue
        env:
          TFACTION_TARGET: tests/aws/foo/dev-${{github.run_id}}
      - run: git reset HEAD "tests/aws/foo/dev-${GITHUB_RUN_ID}"
      - name: Remove a dummy working directory
        run: rm -R "tests/aws/foo/dev-${GITHUB_RUN_ID}"
      - run: sleep 5
      - name: Test create-drift-issues
        uses: ./
        id: create-drift-issues
        with:
          github_token: ${{steps.token.outputs.token}}
          action: create-drift-issues

      - name: Test env
        run: |
          if [ -z "$TFACTION_DRIFT_ISSUE_NUMBER" ]; then
            echo "::error:: TFACTION_DRIFT_ISSUE_NUMBER is not set" >&2
            exit 1
          fi
          if [ "$TFACTION_DRIFT_ISSUE_STATE" != "open" ]; then
            echo "::error:: TFACTION_DRIFT_ISSUE_STATE is not expected" >&2
            exit 1
          fi

  test-list-targets:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    needs: [create-pr-branch]
    permissions: {}
    env:
      TFACTION_CONFIG: tests/tfaction-root.yaml
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          name: js
      - name: Replace suzuki-shusnuke/tfaction/*@main with ./*
        run: |
          git ls-files | grep -v ".github" | xargs sed -i -E 's|uses: suzuki-shunsuke/tfaction@main|uses: ./|'
      - name: Test list-targets
        uses: ./
        with:
          action: list-targets
