---
name: Generate document from JSON Schema and deploy
on: workflow_call

jobs:
  deploy-schema:
    timeout-minutes: 30
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: pip install json-schema-for-humans
      - run: cmdx schema
      - run: cmdx schema-doc

      - uses: suzuki-shunsuke/gh-pages-action@5df123b4f8ae31edbe71bcc9a28a9598c29b1011 # v0.0.6
        if: github.event_name != 'pull_request'
        with:
          publish_dir: build
          destination_dir: config
