---
name: Generate document from JSON Schema and deploy
on: workflow_call

jobs:
  deploy-schema:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: v2.53.9
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: pip install json-schema-for-humans
      - run: cmdx schema
      - run: cmdx schema-doc

      - uses: suzuki-shunsuke/gh-pages-action@af230da5f7a499169013bc40a079a94609a8924d # v0.0.5
        if: github.event_name != 'pull_request'
        with:
          publish_dir: build
          destination_dir: config
