---
name: Generate document from JSON Schema and deploy
on: workflow_call

jobs:
  deploy-schema:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.45.0
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: pip install json-schema-for-humans
      - run: cmdx schema
      - run: cmdx schema-doc

      - uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: github.event_name != 'pull_request'
        with:
          github_token: ${{ github.token }}
          publish_dir: ./build
          destination_dir: ./config
