---
name: Generate document from JSON Schema and deploy
on: workflow_call

jobs:
  deploy-schema:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@9ebf656952a20c45a5d66606f083ff34f58b8ce0 # v4.0.0
        with:
          aqua_version: v2.51.2
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: pip install json-schema-for-humans
      - run: cmdx schema
      - run: cmdx schema-doc

      - uses: suzuki-shunsuke/gh-pages-action@9f11bf1233ad98c3cef0abdebe0e9b28f76feab7 # v0.0.2
        if: github.event_name != 'pull_request'
        with:
          publish_dir: build
          destination_dir: config
