---
name: Format
on:
  workflow_call:
    secrets:
      gh_app_id:
        required: false
      gh_app_private_key:
        required: false

jobs:
  format:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm i

      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        if: |
          github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork
        with:
          aqua_version: v2.43.0
        env:
          GITHUB_TOKEN: ${{github.token}}

      - id: token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        if: |
          github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork
        with:
          app_id: ${{ secrets.gh_app_id }}
          private_key: ${{ secrets.gh_app_private_key }}
          repositories: >-
            [
              "${{ github.event.repository.name }}"
            ]
          permissions: >-
            {
              "contents": "write",
              "workflows": "write"
            }

      - run: cmdx fmt
        if: |
          github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork

      - if: |
          github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        run: |
          if git diff --quiet; then
            exit 0
          fi
          git diff --name-only |
            xargs ghcp commit \
              -r "$GITHUB_REPOSITORY" \
              -m "style: format by prettier and shfmt" \
              -b "$GITHUB_HEAD_REF"
          exit 1

      - run: npm t
        if: |
          github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork
