---
name: Hide comments
on:
  workflow_call:
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true
jobs:
  hide-comments:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          # pull_requests:write - Post and hide comments
          permission-pull-requests: write

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.5
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - run: github-comment exec -- github-comment hide
        env:
          GITHUB_TOKEN: ${{steps.token.outputs.token}}
