---
name: Hide comments
on:
  workflow_call:
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true
jobs:
  hide-comments:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - id: token
        uses: actions/create-github-app-token@v2.1.4
        with:
          app-id: ${{secrets.gh_app_id}}
          private-key: ${{secrets.gh_app_private_key}}
          # pull_requests:write - Post and hide comments
          permission-pull-requests: write

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - run: github-comment exec -- github-comment hide
        env:
          GITHUB_TOKEN: ${{steps.token.outputs.token}}
