---
name: wc-release
run-name: wc-release (${{inputs.pr}})
on:
  workflow_call:
    inputs:
      version:
        description: "Version"
        required: true
        type: string
      pr:
        description: "Pull Request Number"
        required: false
        type: string
      is_comment:
        description: If the comment is posted
        required: false
        default: false
        type: boolean

jobs:
  release:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.5
        env:
          GITHUB_TOKEN: ${{github.token}}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm ci

      - run: cmdx build

      - uses: suzuki-shunsuke/release-js-action@7586139c29abe68e2bc84395ac4300f20112b764 # v0.1.8
        with:
          version: ${{inputs.version}}
          is_comment: ${{inputs.is_comment}}
          files: |
            schema/tfaction.json
            schema/tfaction-root.json

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: dist
          name: js
