---
name: shellcheck
on: workflow_call

jobs:
  shellcheck:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.53.11
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: cmdx shellcheck
