---
name: wc-test
on: workflow_call
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: npm ci
      - run: npm t
      - run: npx eslint
