---
name: test-get-target-config
on: workflow_call

jobs:
  test-get-target-config:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.29.0
      - uses: ./get-target-config
        id: target-config
        env:
          TFACTION_CONFIG: get-target-config/tests/config-1.yaml
          TFACTION_TARGET: aws/foo
          TFACTION_IA_APPLY: "false"
          TFACTION_JOB_TYPE: "terraform"
      - run: echo "${{ steps.target-config.outputs.working_directory }}"
      - run: echo "${{ steps.target-config.outputs.aws_assume_role_arn }}"
      - run: echo "${{ steps.target-config.outputs.aws_region }}"
      - run: echo "${{ steps.target-config.outputs.s3_bucket_name_tfmigrate_history }}"
      - run: echo "${{ steps.target-config.outputs.template_dir }}"

  test-get-target-config-gcp:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.29.0
      - uses: ./get-target-config
        id: target-config
        env:
          TFACTION_CONFIG: get-target-config/tests/config-1.yaml
          TFACTION_TARGET: gcp/foo
          TFACTION_IA_APPLY: "false"
          TFACTION_JOB_TYPE: "terraform"
      - run: echo "${{ steps.target-config.outputs.working_directory }}"
      - run: echo "${{ steps.target-config.outputs.gcs_bucket_name_tfmigrate_history }}"
      - run: echo "${{ steps.target-config.outputs.template_dir }}"
