---
name: test-list-working-dirs
on: workflow_call

jobs:
  test-list-working-dirs:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.29.0
      - uses: ./list-working-dirs
        id: working_dirs
        env:
          TFACTION_CONFIG: list-working-dirs/tests/tfaction-root.yaml
      - run: cat "${{ steps.working_dirs.outputs.file }}"
